/* The Ten Capsule (TM) 2017
    Created as a division of Surprise Ministries by Isaac M. */

/*General Rules*/
*{
    font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
    font-size:16px;
}
body{
    background:#FFF9E9;
}
.showifjs{
    display: none;
}
.hideifjs{
    display: initial;
}
@media only screen and (min-width: 643px){
    .mobileonly {
        display: none !important;
    }
    .logo{
        max-width: 25%;
    }
}

/*Link Settings */
a:link{
    color: #2a003e;
}

a:visited{
    color: #9c1900;
}

a:hover{
    color:#980000;
    text-decoration: none;
}

a{
    /*This ruleset allows rules to be inherited from the paragraph where needed*/
    font-size: inherit;
}

.lessonhead a {
    /* For Links to Verses*/
    font-family:Lucida Bright, serif;
    color:#9c0000;
    font-size:1.5em;
    text-align: center;
}

 /*Button Settings*/
.button{
    height:4.7rem;
    width:7.7rem;
    border:1px solid #000000;
    /*background:#fffff;*/
    border-radius:1.5625rem;
    display:block;
    clear:both;
    margin:auto;
    text-align:center;
}

.buttontext{
    clear:both;
    font-size:1.45rem;
    margin:auto;
    line-height: 2rem;
}

.uline{
    text-decoration:underline;
}

/* Text Settings */
@font-face {
    font-family: Bahnschrift;
    src: url(bahnschrift.ttf) format("truetype");
}

h1{
    font-family: Bahnschrift, 'Lucida Bright', serif;
    font-weight: 300;
    color:#9c0000;
    font-size:3rem;
    text-align:center;
    margin: calc(15% + 1.5rem) 0 1.5rem 0;
    line-height: 3rem;
}

h2{
    font-family:Bahnschrift, 'Lucida Bright', serif;
    font-weight: 300;
    color:#9c0000;
    font-size:2rem;
    text-align:center;
    margin: 1.5rem 0;
    line-height: 2rem;
}

.sectionhead{
    font-family:Lucida Bright, serif;
    color:#9c0000;
    font-style:italic;
    font-size:1.7rem;
    text-align: center;
    text-decoration: underline;
    margin: 2rem 0;
    line-height: 2rem;
}

.lessonhead{
    font-family:Lucida Bright, serif;
    color:#9c0000;
    font-size:1.5rem;
    text-align: center;
    margin: 1rem 0;
    line-height: 2rem;
}
.verse{
    color:#db0404;
    font-family:'Century Gothic',Futura,'Apple Gothic',AppleGothic,'URW Gothic L','Avant Garde',sans-serif;
    font-style: italic;
    font-size:1.2rem;
    text-align:center;
    display: block;
    max-width: 86%;
    /*min-height: 48px;*/
    height: auto;
    margin: 1rem auto 2rem auto;
    line-height: 1.5rem;
}

p{
    line-height: 1.5rem;
    height: auto;
    display: block;
}
.descrip{
    text-align:justify;
    max-width: 80%;
    margin: 2rem auto 1rem auto;
    font-size:1rem;
}

#intro, #end, .saved{
    max-width: 92%;
    margin: 2rem auto 2rem auto;
}

#intro p {
    margin: 1rem auto 1rem auto;
}
   /* Adds Verse Number Superscript Effect*/
.verse{
    /*The following line-height command creates the required space for the superscript effect*/
    line-height:1.5rem;
}

.vsnum{
    /*The following three commands (bottom, position, font-size) create a superscript effect wo/ messing up spacing*/
    bottom:0.5em;
    position: relative;
    font-size:0.6em
}

    /*Not in Capsule 1*/
.further{
    margin: 2rem auto 1rem auto;
    max-width: 86%;

}

    /*Breaking Down the Lord's Prayer in Capsule 2 */
#prayer {
    border: 1px solid #000000;
    padding: 0 6% ;
}

#prayer h5{
    text-decoration: underline;
    text-align: center;
    font-size: 1.1rem;
}

#prayer-format{
    font-size: 1rem;
}

#prayer-format p{
    border:2px 0px solid grey;
}



#copyinfo p{
    font-family:'Courier New', Courier, monospace;
    color:#000000;
    font-size:0.7rem;
    line-height: 1rem;
    margin-top: 1rem;

}

hr {
    background:#000000;
    border-color: #000000;
    color: #000000;
}

#header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    z-index: 10;
    width: 100%;
    background: #FFFDF7;
    background: #FFF9E9;
    box-shadow: 0 5px 15px #000000;
}

#header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    bottom: auto;
    z-index: 10;
    width: 100%;
    background: #FFFDF7;
    background: #FFF9E9;
    box-shadow: 0 5px 15px #000000;
}

#primary{
    position: relative;
}

.headmenu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 75%;
}

.headmenu a{
    display: flex;
    text-align: center;
    font-size: 2.8rem;
    line-height: 2.8rem;
    font-weight: bold;
    padding: 0 30px;
}

.logo{
    height: auto;
    max-width: 388.583px;
    padding: 10px 0 0 10px;
}

@media only screen and (min-width: 1550px){
    #primary{
        width: calc( 100% - 11.4rem );
    }
    
    #primary a{
            font-size: 2.8rem;	
            line-height: 2.8rem;
    }

    .logo{
        max-height: 11.4rem
    }
}

@media only screen and (min-width: 1359px) and (max-width: 1549px){
    #primary{
        width: calc( 100% - 8rem );
    }
    
    #primary a{
            font-size: 2rem;	
            line-height: 2rem;
    }

    .logo{
        max-height: 8rem
    }
}

@media only screen and (min-width: 847px) and (max-width: 1359px){
    #primary{
        width: calc( 100% - 6.4rem );
    }
    
    #primary a{
        font-size: 1.6rem;	
        line-height: 1.6rem;
    }

    .logo{
        max-height: 6.4rem
    }
}

@media only screen and (min-width: 642px) and (max-width:846px){
    #primary{
        width: calc( 100% - 4.4rem );
    }
    
    #primary a{
        font-size: 1.1rem;
        line-height: 1.1rem;
    }

    .logo{
        max-height: 4.4rem
    }
}

@media only screen and (min-width:643px){
    .secondary{
        display: none;
        flex-direction: column;
        position: absolute;
        width: 33%;
        top: 125%;
        left: 1%;
        background: #FFFDF7;
        background: #FFF9E9;
        height: 200%;
        box-shadow: 15px 20px 20px -10px #000000;
    }

    #secondary{
        position: relative;
        box-shadow: 3;
    }

}


@media only screen and (min-width: 0px) and (max-width: 642px){
    .nojs #primary:hover a{
        display: block;
        width: auto;
        background: #FFF9E9;
    }
    .nojs .headmenu span{
        font-size: 2rem;
    }
    .nojs #primary a{
        display: none;
    }
    .nojs #primary{
        display: flex;
    }
    
    #header{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position:fixed;
        top: 0;
        bottom: auto;
        width: 100%;
        z-index: 10;
        background: #FFF9E9;
    }
    #carosuel{
        z-index: 5;
    }
    #primary>a:first-child{
        width: auto;
        display: block;
    }
    h1{
        margin: 182px 0 0 0;
    }
    #primary{
        display: none;
    }
    #primary-show{
        font-size: 2rem;
    }
    .secondary{
        display: none;
        background: #ffffff;
    }

    .headmenu{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: auto;
        height: 40%;
    }

    .headmenu br{
        display: none;
        content: ' '
    }
    
    .headmenu a{
        text-align: center;
        font-size: 1.5rem;
        display: block;
        padding: 0;
    }
    
    .secondary a{
        padding: 0 25px
    }

    .logo{
        width: 60%;
        height: auto;
        max-height: 170px;
        max-width: 388.583px;
        margin: auto;
        padding: 0;
        display: block;
    }
}

@media only screen and (max-width: 275px){
    #primary a:first-child{
        font-size: 1.2rem
    }
}
#titlemobile{display:none;}

@media only screen and (min-width: 3000px){
    h1{
        margin: 324px 0 0 0;
    }
}

@media only screen and (max-width: 320px){
    #logoM img{
        height: 100px;
        display: block;
    }
}
