/* The Ten Capsule (TM) 2018
    Created as a division of Surprise Ministries by Isaac M. */

/* Custom Font Rules */
@font-face {
    font-family: Bahnschrift;
    src: url(bahnschrift.ttf) format("truetype");
}


/* Full Page Rules */
body{
    font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
    font-size: 16px;
    background: #FFFDF7;
    background: #FFF9E9;
    margin: 0;
    padding: 0;
    border: 0;
}


/* nojs-5 Management */
/* Will be overwritten if js is enabled */
.showifjs{
    display: none;
}

.hideifjs{
    display: initial;
}


/* Hide mobile content on large devices */
@media only screen and (min-width: 643px){
    .mobileonly {
        display: none !important;
    }
    .logo{
        max-width: 25%;
    }
}


/* Background Formatting */
.button{
    background: #ffffff;
}

#header{
    background: #FFFDF7; /* TODO: Double Rule */
    background: #FFF9E9;
    box-shadow: 0 5px 15px #000000;
}

.interrupt{
    background: #333333;
}

#iSPic{
    background: url('../images/iSPic.jpg') center center/100% no-repeat;
}

#links > div{
    background: #9C0000;
}

#p2n, #p2y, #p3y, .c1r, .c2r, .c3r, .rsr{
    background: #f9b031;
}

#pSPic{
    background: url('../images/pSPic.jpg') center center/100% no-repeat;
}

#query{
    text-align: center;
    background: #9C0000;
}

#sSPic{
    background: url('../images/sSPic.jpg') center center/100% no-repeat;
}

.txtContain {
    background: #9C0000;
}


/* Box Formatting */
.attention{
    margin: 20px;
}

.button{
    display: block;
    height: 4.7rem;
    width: 7.9rem;
    border: 1px solid #000000; 
    border-radius: 1.5625rem;
    margin: 20px auto 0px auto;
}

#carousel{
    height: 300px;
}

.description{
    margin: 0.333rem auto 2.667rem auto;
    max-width: 80%;
    display: block;
}

#header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    bottom: auto;
    z-index: 10;
    width: 100%;
}

.headmenu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 75%;
}

.headmenu a{
    display: flex;
    padding: 0 30px;
}

.interrupt{
    height: 20px;
}

#intro{
    max-width: 92%;
    margin: 2rem auto 2rem auto;
}

#iSCont{
    position: absolute;
    width: 100%;
}

#iSeriesDropdown{
    display: none;
}

#iSPic, #pSPic, #sSPic{
    height: 300px;
}

.jsonly{
    display: none;
}

#links{
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#links p{
    margin: 10px;
}

#links > div{
    width: 48%;
    height: 24rem;
    display: block;
}

#links #planSeries{
    margin: 10px 0 0 0;
    height: auto;
    width: auto;
    display: block;
}

.logo{
    height: auto;
    max-height: 170px;
    max-width: 388.583px;
    padding: 10px 0 0 10px;
}

#p2n, #p2y, #p3y, .c1r, .c2r, .c3r, .rsr{
    width: 33%;
    display: inline-block;
    border: 1px solid;
}

#phase2, .phase3, .phase4, .result, .showMD{
    display: none;
}

#primary{
    position: relative;
}

#pSCont{
    position: absolute;
    width: 100%;
    display: none; /* Changed by JS */
}

#query{
    border: 1px solid;
}

#query p{
    margin: 0.5rem 0;
}

#slogan{
    margin: 12.5% 0 0 0;
}

#sSCont{
    position: absolute;
    width: 100%;
    display: none; /* Changed by JS */
}

#titlebar{
    margin: auto;
    display: block;
}

#titlemobile{
    display: none;
}

.txtContain {
    position: relative;
    left: 20%;
    top: 25px;
    opacity: 0.9;
    width: 60%;
    padding: 1em;
    margin: 0
}

#versionmessage{
    display: block;
}


/* Font Formatting */
.attention{
    font-family: Bahnschrift, sans-serif;
    color: #9c0000;
    text-align: center;
}

.button{
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    line-height: 2.4rem;
    font-family: Bahnschrift, sans-serif;
}

.description{
    font-size: 1rem;
}

#disclaim p{
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    font-size: 0.7rem;
}

.headmenu a{
    text-align: center;
    font-size: 3.0rem;
    line-height: 3.0rem;
    font-weight: bold;
    font-family: Bahnschrift, sans-serif;
}

.interrupt{
    color: #ffffff;
    font-size: 1rem;
    line-height: 1rem;
}

#intro{
    text-align: center;
}

#intro p{
    font-size: 1.15rem;
    line-height: 1.333em;	
}

#iSPic, #pSPic, #sSPic{
    color: #ffffff;
}

#links > div{
    color: #ffffff;
}

#query p{
    font-family: Bahnschrift, sans-serif;
    font-size: 1.7rem;
    font-weight: 900;
    color: #ffffff;
}

.txtContain *{
    color: #ffffff;
    font-weight: bold;
    opacity: 1;
    text-align: left;
}

#versionmessage{
    font-size: 1rem;
    text-align: center;
    font-family: Bahnschrift, sans-serif;
}


/* Hyperlink Formatting */
a:link{
    color: #2a003e;
}

a:hover{
    color: #980000;
    text-decoration: none;
}

a:visited{
    color: #9c1900;
}

#query-box a :not(.button):visited{
    color: #ffe2b5;
}

#query-box a:not(.button):link{
    color: #ff8585;
}


/* Heading Formatting */
h1{
    text-align: center;
    font-size: 3rem;
    line-height: 3.333rem;
}

h2{
    font-size: 2.5rem;
    font-family: Bahnschrift, sans-serif;
    text-align: center;
    margin: 1rem 0;
}

h3{
    text-align: center;
    display: block;
    font-size: 1.8rem;
    margin: auto;
    line-height: 1.667rem;
}

#links h3{
    width: 100%;
    display: block;
}

