*{
/* Now applies to body */
    font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
    font-size: 16px;
}

a{
    /*This ruleset allows rules to be inherited from the paragraph where needed*/
    font-size: inherit;
}

.button {
    clear:both;
}

.button:link{
    color: #2a003e;
}

.button:visited{
    color: #9c1900;
}

h3 {
    position:static;
    clear: both;
}